import {
  to = azurerm_kubernetes_cluster.{{ cluster_name }}
  id = "{{ cluster_id.replace('resourcegroups', 'resourceGroups') }}"
}

{% for node_pool in node_pools %}
import{
  to = azurerm_kubernetes_cluster_node_pool.{{ node_pool.name }}
  id = "{{ node_pool.id }}"
}
{% endfor %}