{% if type == "gateway"%}
import {
    to = azurerm_application_gateway.{{ lb_name }}
    id = "{{ lb_id }}"
}

{% for public_ip in public_ips %}
import {
    to = azurerm_public_ip.{{ lb_name }}_{{ public_ip.name }}
    id = "{{ public_ip.id }}"
}
{% endfor %}
{% endif %}


{% if type == "load-balancer" %}
import {
    to = azurerm_lb.{{ lb_name }}
    id = "{{ lb_id }}"
}

{% for backend_pool in lb_backend_pools %}
import {
    to = azurerm_lb_backend_address_pool.{{ lb_name }}_{{ backend_pool.name }}
    id = "{{ backend_pool.id }}"
}
{% endfor %}

{% for lb_probe in lb_probes %}
import {
    to = azurerm_lb_probe.{{ lb_name }}_{{ lb_probe.name }}
    id = "{{ lb_probe.id }}"
}
{% endfor %}

{% for lb_rule in lb_rules %}
import {
    to = azurerm_lb_rule.{{ lb_name }}_{{ lb_rule.name }}
    id = "{{ lb_rule.id }}"
}
{% endfor %}

{% endif %}