{% set vm_name = vm_name | replace(' ', '-') | lower %}

{% if os_type == "linux"%}
import {
  to = azurerm_linux_virtual_machine.{{ vm_name }}
  id = "{{ vm_id }}"
}
{% endif %}

{% if os_type == "windows"%}
import {
  to = azurerm_windows_virtual_machine.{{ vm_name }}
  id = "{{ vm_id }}"
}
{% endif %}


{% for data_disk in data_disks %}
{% set sliced_string = data_disk.id.split('/disks/')[0] + '/' %}
import {
  to = azurerm_managed_disk.{{ vm_name }}_{{ data_disk.name }}
  id = "{{ data_disk.id }}"
}
import {
  to = azurerm_virtual_machine_data_disk_attachment.{{ vm_name }}_{{ data_disk.name }}
  id = "{{ sliced_string }}virtualMachines/{{ vm_name }}/dataDisks/{{ data_disk.name }}"
}
{% endfor %}

{% for nic in nics %}
import {
  to = azurerm_network_interface.{{ vm_name  }}_{{ nic.name }}
  id = "{{ nic.id }}"
}
{% endfor %}


{% if os_type == "linux" %}
  {% set allowed_extensions = ["AzureMonitorLinuxAgent", "DataDiskMounting", "LinuxDiagnostic", "enablevmaccess", "CustomScriptExtension", "AzurePerformanceDiagnosticsLinux", "AzureDiskEncryptionForLinux", "MDE-Linux"] %}
{% elif os_type == "windows" %}
  {% set allowed_extensions = ["AzureDiskEncryption", "HybridWorkerExtension", "AzurePerformanceDiagnostics", "CustomScriptExtension_2016", "CustomScriptExtension", "enablevmaccess", "joindomain", "Microsoft.Insights.VMDiagnosticsSettings", "SqlIaasExtension", "MDE.Windows"] %}
{% endif %}

{% for extension in extensions %}
  {% if extension.name.lower() in allowed_extensions | map('lower') %}
    import {
      to = azurerm_virtual_machine_extension.{{ vm_name }}_{{ extension.name | replace('.', '-') }}
      id = "{{ extension.id }}"
    }
  {% endif %}
{% endfor %}
